<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aserbao.androidcustomcamera">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:debuggable="true"
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <activity android:name=".blocks.others.changeVoice.ChangeVoiceActivity"></activity>
        <activity android:name=".blocks.mediaCodec.show.MediaCodecShowOnGlSurfaceView" />
        <activity android:name=".HomeActivity">

        </activity>
        <activity android:name=".blocks.BlocksActivity" />
        <activity android:name=".blocks.mediaCodec.MediaCodecActivity" />
        <activity android:name=".whole.WholeActivity" />
        <activity android:name=".blocks.mediaCodec.primary.PrimaryMediaCodecActivity" />
        <activity android:name=".blocks.mediaCodec.bigflake.encodeAndMux.EncodeAndMuxActivity" />
        <activity android:name=".blocks.mediaCodec.recordCamera.RecordCameraActivity" />
        <activity android:name=".whole.videoPlayer.VideoViewPlayerActivity" />
        <activity android:name=".blocks.mediaCodec.recordBaseCamera.RecordBaseCameraActivity" />
        <activity android:name=".blocks.mediaCodec.recordCameraOpenGl.RecordCameraOpenGlActivity" />
        <activity android:name=".blocks.mediaCodec.bigflake.cameraToMpeg.CameraToMpegActivity" />
        <activity android:name=".blocks.mediaCodec.bigflake.BigflakeActivity" />
        <activity
            android:name=".whole.record.RecorderActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".blocks.mediaCodec.bigflake.encodeDecode.EncodeDecodeActivity" />
        <activity android:name=".blocks.mediaCodec.bigflake.extractDecodeEditEncodeMux.ExtractDecodeEditEncodeMuxActivity" />
        <activity android:name=".blocks.mediaCodec.bigflake.decodeEditEncode.DecodeEditEncodeActivity" />
        <activity android:name=".blocks.mediaCodec.bigflake.extractMpegFrames.ExtractMpegFramesActivity" />
        <activity android:name=".blocks.mediaCodec.primary.CreatMusicVideoByMediaCodecActivity" />
        <activity android:name=".blocks.mediaCodec.primary.mp3TranslateAAC.Mp3TranslateAACActivity" />
        <activity android:name=".blocks.mediaExtractor.MediaExtractorActivity" />
        <activity android:name=".blocks.mediaMuxer.MediaMuxerActivity" />
        <activity android:name=".blocks.mediaMuxer.functions.CreateVideoAddAudioToMp4" />
        <activity android:name=".blocks.audioRecord.AudioRecordActivity" />
        <activity android:name=".blocks.others.changeHue.ChangeHueActivity" />
        <activity android:name=".blocks.others.OthersActivity" />
        <activity android:name=".blocks.others.audioStyle.AudioStyleActivity" />
        <activity android:name=".blocks.ffmpeg.FFmpegActivity" />

        <activity android:name=".whole.createVideoByVoice.CreateVideoByAudioDbActivity">
        </activity>
        <activity
            android:name=".whole.pickvideo.VideoPickActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".whole.createVideoByVoice.localEdit.LocalVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".whole.editVideo.VideoEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".whole.videoPlayer.VideoPlayerActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".whole.selCover.SelCoverTimeActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>